
<!-- v-if : 토글 비용이 높고, 초기 렌더링에서 조건이 거짓인 경우 아무것도 하지 않습니다.
v-show : 훨씬 단순, 초기 렌더링 비용이 더 높습니다.
매우 자주 바꾸기를 원한다면 v-show를, 런타임 시 조건이 바뀌지 않으면 v-if를 권장

v-if : 조건부 블럭안의 이벤트 리스너와 자식 컴포넌트가 토글하는 동안 적절하게 제거되고 다시 만들어지기 때문에 "진짜" "조건부 렌더링". 참이 될 때 랜더링함.
v-show: v-show가 있는 엘리먼트는 항상 렌더링 되고 DOM에 남아있음. v-show는 단순히 엘리먼트에 display CSS 속성을 토글함.    -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view 기초 익히기</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .red{
            color: red;
        }
        .font-bold{
            font-weight: bold;
        }
    </style>

</head>
<body>
    <div id ="app">
        <div>
            {{people[0].name}} {{ people[0].age}}
        </div>
        <div>
            {{people[1].name}} {{ people[1].age}}
        </div>
        <div>
            {{people[2].name}} {{ people[2].age}}
        </div>
        <div>
            {{people[3].name}} {{ people[3].age}}
        </div>
        <!-- Vue에서 개별 DOM 노드들을 추적하고 기존 엘리먼트를 재사용, 재정렬하기 위해서 v-for의 각 항목들에 고유한 key 속성을 제공해야 합니다.
             key에 대한 이상적인 값은 각 항목을 식별할 수 있는 고유한 ID입니다. 
            만약, 아래와 같이(id가 없다는 가정하에) 중복되는 name이 존재하는 경우에는 - age를 섞어서 공유하게 만들어야 됨.-->
        <!--<div v-for="(person, index) in people" :key = "person.name + '-' + person.age"></div>-->
        <!-- tip : key로 index는 사용하지 말 것.-->
        <div v-for="(person, index) in people" :key="id">
            {{person.name}} {{ person.age}} {{ index}}
        </div>

    </div>
    <script>
        new  Vue({
            el :'#app', 
            data:{
                people : [
                    { id:1, name: 'a', age: 20},
                    { id:2, name: 'b', age: 21},
                    { id:3, name: 'c', age: 22},
                    { id:4, name: 'd', age: 23},
                    { id:5, name: 'e', age: 24},
                    { id:6, name: 'e', age: 25},
                ]
            },
            methods:{
                
            }
        
        })
    </script>
</body>
</html>
